<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="LiquidTechnologies.XmlObjects.Runtime" publicKeyToken="64bee40f6e1c14f0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-17.1.0.9428" newVersion="17.1.0.9428" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>